@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>My View</title>
    </head>
    <body>
        <div>
            <h2>My view</h2>  
            Message: @ViewBag.Message
        </div>
    </body>
</html>