@using SportsStore.WebUI.Models
@model ProductsListViewModel

@{
    ViewBag.Title = "Products";
    Layout =
    "~/Views/Shared/_Layout.cshtml";
}

@foreach (var product in Model.Products)
{
    <div>
        <h3>@product.Name</h3>
        @product.Description
        <h4>@product.Price.ToString("c")</h4>
    </div>
}
